<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdemo.system.system.userRole.mapper1.UserRoleMapper">

	<select id="list" resultType="com.bootdemo.system.system.userRole.entity.UserRoleEntity">
		SELECT 
		id,userId,roleId  
		FROM t_sys_user_role
		<where>
			<if test="id != null and id != ''"> AND id = #{id} </if>
			<if test="userId != null and userId != ''"> AND userId = #{userId} </if>
			<if test="roleId != null and roleId != ''"> AND roleId = #{roleId} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY createDate DESC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			LIMIT #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) from t_sys_user_role
		<where>
			<if test="id != null and id != ''"> AND id = #{id} </if>
			<if test="userId != null and userId != ''"> AND userId = #{userId} </if>
			<if test="roleId != null and roleId != ''"> AND roleId = #{roleId} </if>
		</where>
	</select>


	<select id="listRoleId" resultType="String">
		SELECT 
		roleId 
		FROM
		t_sys_user_role 
		WHERE userId=#{userId}
	</select>

	<delete id="removeByUserId">
		DELETE FROM t_sys_user_role WHERE userId=#{userId}
	</delete>

	<delete id="removeByRoleId">
		DELETE FROM t_sys_user_role WHERE roleId=#{roleId}
	</delete>

	<delete id="batchRemoveByUserId">
		delete from t_sys_user_role where userId in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="batchSave">
		INSERT INTO t_sys_user_role(id,userId, roleId,createDate) values
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.id},#{item.userId},#{item.roleId},#{item.createDate})
		</foreach>
	</insert>
</mapper>