<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdemo.system.common.file.mapper1.FileMapper">


	<select id="list" resultType="com.bootdemo.system.common.file.entity.FileEntity">
		SELECT 
		id,type,url,createDate 
		FROM t_sys_file
        <where>  
  		  <if test="type != null and type != ''"> and type = #{type} </if>
  		  <if test="url != null and url != ''"> and url = #{url} </if>
  		  <if test="createDate != null and createDate != ''"> and createDate = #{createDate} </if>
  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY createDate DESC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			LIMIT #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		SELECT COUNT(*) FROM t_sys_file
		 <where>  
  		  <if test="type != null and type != ''"> and type = #{type} </if>
  		  <if test="url != null and url != ''"> and url = #{url} </if>
  		  <if test="createDate != null and createDate != ''"> and createDate = #{createDate} </if>
  		</where>
	</select>
	 
</mapper>