<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdemo.system.common.dict.mapper1.DictMapper">
	<!-- 根据值和类型查询 -->
	<select id="getByValueAndType" resultType="com.bootdemo.system.common.dict.entity.DictEntity">
		SELECT
		id,name,value,type,description,sortBy,parentId,createUser,createDate,updateUser,updateDate,remark,delFlag,url 
		FROM t_sys_dict 
		WHERE value = #{value} AND type=#{type}
	</select>
	<!-- 获取字典列表 -->
	<select id="list" resultType="com.bootdemo.system.common.dict.entity.DictEntity">
		SELECT
		id,name,value,type,description,sortBy,parentId,createUser,createDate,updateUser,updateDate,remark,delFlag,url
		FROM t_sys_dict
		<where>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="sortBy != null and sortBy != ''"> and sortBy = #{sortBy} </if>
			<if test="parentId != null and parentId != ''"> and parentId = #{parentId} </if>
			<if test="delFlag != null and delFlag != ''"> and delFlag = #{delFlag} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY sortBy,createDate
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			LIMIT #{offset}, #{limit}
		</if>
	</select>
	<!-- 统计字典列表 -->
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM t_sys_dict
		<where>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="sortBy != null and sortBy != ''"> and sortBy = #{sortBy} </if>
			<if test="parentId != null and parentId != ''"> and parentId = #{parentId} </if>
			<if test="delFlag != null and delFlag != ''"> and delFlag = #{delFlag} </if>
		</where>
	</select>
	<!-- 获取字典的类型 -->
	<select id="listType" resultType="com.bootdemo.system.common.dict.entity.DictEntity">
		SELECT DISTINCT type , description FROM t_sys_dict
	</select>
	<select id="listByIds" resultType="com.bootdemo.system.common.dict.entity.DictEntity">
		SELECT * FROM t_sys_dict WHERE id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>
</mapper>